.vjs-progress-timepoint {
  $width: 6px;

  position: absolute;
  top: 0;
  bottom: 0;
  width: $width;
  background-color: #FFF;
  border-radius: 3px;
  margin-left: -($width/2);
  cursor: pointer;
}
